header{
    background-color: #2d89ef;
    color: white;
    padding: 20px;
    text-align: center;
}
footer{
    background-color: #2d89ef;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.container{
    background-color: #1778e8;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}